<div class="container">
<div class="containerCart">
  <div class="cart">
    <h2>My Cart (1)</h2>
   
  </div>
    <div class="image">
      <img src="../../../assets/Book1.png" alt="">
    </div>
    
      <div class="book-description">
        <h2>Bookname</h2>
        <p> Bookauthor</p>
        <div class="price" fxLayout="row">
            <p>Price</p>
          </div>
          <div class="remove">
        Remove
      </div>
        </div>
      </div>
     
    </div>
  <!-- </div> -->

      <div class="containerCustomerDetails">
        <div class="customer-details">
          <h2>Customer Details</h2>
          <button mat-stroked-button class="address">Add New Address</button>
        </div>
        <div class="input">
          <div class="person">
            <div class="full-name-container">
              <span>Full Name</span>
              <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input required matInput placeholder="Title" value="" >
                
              </mat-form-field>
            </div>
            <div class="mobile-container">
              <span>Mobile Number</span>
              <mat-form-field appearance="outline">
                <mat-label>MobileNumber</mat-label>
                <input required matInput placeholder="Title" value="" >
                
              </mat-form-field>
            </div>
          </div>
            <div class="address-container">
              <span>Address</span>
              <textarea name=""  class="text-input"></textarea>
            </div>
          </div>
          
          <div class="address-details">
            <div class="city">
              <span>City</span>
              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input required matInput placeholder="Title" value="" >
                
              </mat-form-field>
            </div>
            <div class="State">
              <span>State</span>
              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <input required matInput placeholder="Title" value="" >
              </mat-form-field>
            </div>
          </div>
          <div class="type-container">
            <span>Type</span>
            <div class="radio-buttons-container">
              <input type="radio" name="type" id="home">
            <label for="home">Home</label>
            <input type="radio" name="type" id="work">
            <label for="home">Work</label>
            <input type="radio" name="type" id="other">
            <label for="home">Other</label>
            </div>
            <div class="customer-details-footer">
              
              <button mat-stroked-button class="continue">Continue</button>
            </div>
          </div>
      </div>
            <div class="cart-container">
              <div class="cart-header">
                <h2>Order Summary</h2>
              </div>