<div class="container">
    <div class="book-image-container">
      <div class="book-image">
        <img src="../../../assets/Book1.png" alt="">
        <div class="book-details-container">
            <div class="book-description">
              <h2>Bookname</h2>
              <a> Bookauthor</a>
              <div class="rating-container" fxLayout="row">
                <div class="rating" fxLayout="row" fxLayoutAlign="center center">
                  <span>BookRating</span> 
                  <div class="star-container" fxLayoutAlign="center center">
                    <mat-icon class="star">star</mat-icon>
                  </div>
                </div>
      </div>
        <div class="action-buttons">
            <button mat-button color="primary"  (click)=NotifyMe()>Notify me</button>
            <button mat-button color="primary" class="wishlist"  (click)=AddToWishlist()>
            
              <mat-icon>favorite</mat-icon>
              WISHLIST
            </button>
            <!-- <div class="book-details-container">
                <div class="book-description">
                  <h2>Bookname</h2>
                  <a> Bookauthor</a>
                  <div class="rating-container" fxLayout="row">
                    <div class="rating" fxLayout="row" fxLayoutAlign="center center">
                      <span>BookRating</span> 
                      <div class="star-container" fxLayoutAlign="center center">
                        <mat-icon class="star">star</mat-icon>
                      </div>
                    </div>
          </div> -->
          <!-- <div class="separater">
        </div>
        <div class="book-details">
          <div class="book-details-info" fxLayout="row">
            <div class="dot"></div><p> Book Detail</p>
          </div>
        </div>
      </div> -->
      </div>

