<div class="container">
    <div class="Order">
      <h2>My Wishlist </h2>
    </div>
      <div class="Addcontainer">
        <div class="book">
          <div class="image">
            <img src="../../../assets/Book1.png" alt="">
          </div>
          <div class="book-description">
            <h3>Bookname</h3>
            <p>by Bookauthor</p>
            <div class="pricecontainer" fxLayout="row">
              <div class="price">
                Rs. Bookprice
              </div>
            </div>
          </div>
        </div>
        <div class="ordercontainer">
          <div class="orders">
    
          </div>
            <mat-icon>delete</mat-icon>
        </div>
      </div>
      <div class="Addcontainer">
        <div class="book">
          <div class="image">
            <img src="../../../assets/Book2.png" alt="">
          </div>
          <div class="book-description">
            <h3>Bookname</h3>
            <p>by Bookauthor</p>
            <div class="pricecontainer" fxLayout="row">
              
              <div class="price">
                Rs. Bookprice
              </div>
            </div>
          </div>
        </div>
        <div class="ordercontainer">
          <div class="orders">
    
          </div>
            <mat-icon>delete</mat-icon>
        </div>
      </div>
    </div>
    
    
  