<div class="container">
    <div class="booksList"  >
      <!-- <div><h2>Books</h2></div> -->
      <div class="sort">
        <div class="heading"><h1>Books</h1></div>
        <mat-form-field appearance="outline" class="sorting">
          <mat-label>Sort by</mat-label>
          <mat-select>
            <mat-option value="LH">Low-to-high</mat-option>
            <mat-option value="HL">High-to-low</mat-option>
            <mat-option value="New arrival">New Arrival</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <!-- <div><h2>Books</h2></div> -->
    <!-- <div class="bookscontainer"> -->
      
      <!-- <div class="bookDetails" > -->
        <div class="book" >
          <div class="image">
            <img src="../../../assets/Book1.png" class="books" alt="">
          </div>
          <div class="bookDescription">
            <h2>Bookname</h2>
            <p>by Bookauthor</p>
            <div class="ratingContainer" >
              <div class="rating" >
              4.0<mat-icon class="star" >star</mat-icon>
              </div>
             
            </div>
            <div class="pricecontainer" >
              
              <div class="price">
                Rs.Bookprice
              </div>
            </div>
          </div>
        </div>
      <!-- </div> -->
    <!-- </div> -->
    
    
      <!-- <div class="bookDetails" > -->
        <div class="book" >
          <div class="image">
            <img src="../../../assets/Book2.png" class="books" alt="">
          </div>
          <div class="bookDescription">
            <h2>Bookname</h2>
            <p>by Bookauthor</p>
            <div class="ratingContainer">
              <div class="rating" >
              4.0<mat-icon class="star" >star</mat-icon>
              </div>
             
            </div>
            <div class="pricecontainer" >
              
              <div class="price">
                Rs.Bookprice
              </div>
            </div>
          </div>
        </div>
      </div>
   
    
    
  <!-- </div> -->
  
  
