<div class="container" fxLayoutAlign="center center">
  <!-- class="center-content" -->
  <div class="media"> 
  <div class="img">
    <img src="../../../assets/Cart.png" alt="Sample photo" class="media"> 
    <h4 style="text-align:center"> ONLINE BOOK SHOPPING </h4>
  </div>
  <!-- heading for form -->
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Login/Register</mat-card-title>
      </mat-card-header>
      <mat-card-content>s
        <mat-tab-group>
          <mat-tab label="Login">
            <!-- form content -->
            <p>Full Name</p>
                <mat-form-field appearance="outline" class="noWrapper" >
                  <input matInput placeholder="" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"/>
                  <mat-hint *ngIf="submitted && f.fullname.errors">Enter your full name</mat-hint>
                </mat-form-field>
  
            <p>Password</p>
            <mat-form-field appearance="outline">
              <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint *ngIf="submitted && f.password.errors">Enter your password</mat-hint>
            </mat-form-field>
            <button mat-button color="primary" (click)="login()">Login</button>
            <div>
              <button mat-button  [routerLink]="['/forgotpassword']">forgot password?</button>
             </div>
          </mat-tab>
          <mat-tab label="Register">
            <div [formGroup]="registerForm">
  
              <div class="fullname">
                <p>Full Name</p>
                <mat-form-field appearance="outline" class="noWrapper" >
                  <input matInput placeholder="" formControlName="fullname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }"/>
                  <mat-hint *ngIf="submitted && f.fullname.errors">Enter your full name</mat-hint>
                </mat-form-field>
              </div>
              <div class="emailId">
                <p>Email Id</p>
                <mat-form-field appearance="outline" class="noWrapper" >
                  <input matInput placeholder="" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                  <mat-hint *ngIf="submitted && f.email.errors">Enter your email id</mat-hint>
                </mat-form-field>
              </div>
              <div class="password-container">
                <p>Password</p>
                <mat-form-field appearance="outline">
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  <mat-hint *ngIf="submitted && f.password.errors">Enter your password</mat-hint>
                </mat-form-field>
              </div>
              <div class="mobilenumber">
                <p>Mobile Number</p>
                <mat-form-field appearance="outline" class="noWrapper" >
                  <input matInput placeholder="" formControlName="mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"/>
                  <mat-hint *ngIf="submitted && f.mobile.errors">Enter your mobile number</mat-hint>
                </mat-form-field>
              </div>
              <div class="button">
                <button mat-flat-button class="buttonSignup" (click)=submit()>Signup</button>
              </div>
              </div>
          <mat-radio-group aria-label="Select an option" fxLayoutGap="10%" [(ngModel)]="radioval">
              <mat-radio-button value="3">customer</mat-radio-button>
              <mat-radio-button value="2">Admin</mat-radio-button>
          </mat-radio-group>
          <div fxFlexAlign="end" fxLayoutGap="25px">
              
              <button mat-raised-button mattooltip="Register" class="regbutton" (click)="onRegister()">Register</button>
          </div>
          </mat-tab>
        </mat-tab-group>
        <!-- <div>
          <button mat-button  [routerLink]="['/forgotpassword']">forgot password?</button>
         
         </div> -->

      </mat-card-content>
  
    </mat-card>
  </div>
  