<div class="container">
    <div class="orderPlaced">
      <div class="order">
        <div class="image">
            <img src="../../../assets/OrderPlaced.png" alt="">
        </div> 
        
        <div class="orderInfo">
             <p> Hurray! your order is confirmed.</p>
             <p> Your order id is #orderId </p> save the order id
             for further communication
        </div>
      </div>
    </div>
    <div class="contactcontainer">
       <div class="contact">
           <div class="email-us">
               Email Us
           </div>
           <div class="contact-us">
               Contact Us
           </div>
           <div class="address">
               Address
           </div>
       </div>
       <div class="contactData">
           <div class="emaildata">
               admin@bookstore.com
           </div>
           <div class="contactdata">
               +91 9766548832
           </div>
           <div class="contactdata">
               42, 14th Main, 15th Cross, Sector 4, 
               Opp to BDA complex, near Kumaram restraurant,
               HSR Layout, Banglore 560034
           </div>
       </div>
    </div>
    <div class="button-container">
       <button mat-raised-button class="continue">CONTINUE SHOPPING</button>
    </div>  
  </div>
  
  